

.hide
{
    display: none;
}
.padding-top-zero
{
    padding-top: 0px;
}

.margin-top-bottom
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.ju-ta
{
    text-align: center;
    margin-top: 2%;
}
.ju-di
{
    display: inline-block;
}
.ju-fl
{
    float: right;
}
.ju-m-zero
{
    margin: 0px auto;
}
.ju-mt
{
    margin-top: 5%;
}
.ju-result-m-bottom
{
    margin-bottom: 10px;
}
.ju-result-p-right
{
    padding-right: 60px;
}